* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-color: #fff;
  }
  
  .side-navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: -1800px;
    background-color: rgba(0, 0, 0, 0.838);
    transition: 0.5s;
    z-index: 150;
  }

  .active-nav {
    margin-left: 0;
  }

  
  /* for main section */
  #menu-btn {
    background-color: chocolate;
    color: #fff;
    margin-top: 5px;
  }
  
  .no-active {
    transition: 0.4s;
    right: 300px;
    position: absolute;
    top:10px;
  }

  .active-cont {
    right: 300px;
    position: absolute;
  }
  
  .nav .nav-link  i{
    color: chocolate;
    margin-right: 10px;
  }
 .nav .nav-link a , i{
    color: white;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s color ease-in-out;
   }
   .nav .nav-link a:hover{
      color :chocolate;
   }
   .nav .nav-link  i:hover{
    color: white;
   }

   .nav-link i:last-child{
    font-size: 40px;
   }

  @media screen and (max-width: 1000px) {
    .no-active {
      transition: 0.4s;
      right: 10px;
      position: absolute;
      top:15px;
    }


    .active-cont {
      right: 10px;
      top:15px;
      position: absolute;
    }
  }

